{
  "presets": ["@babel/preset-react", ["@babel/preset-env", { "modules": false }]],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@kayakyakr/babel-plugin-mobx-async-action"
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-react", ["@babel/preset-env", { "modules": "commonjs" }]],
      "plugins": ["transform-modules-commonjs"]
    }
  }
}
