{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "webextensions": true
  },
  "plugins": [ "react-hooks" ],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "^_" }],
    "react/no-unescaped-entities": ["error", { "forbid": [">", "}"] }],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "no-undef":"off",
    "react/jsx-no-undef":"off",
    "no-useless-escape":"off",
    "react/jsx-key":"off",
    "no-empty":"off",
    "no-irregular-whitespace":"off",
    "no-redeclare":"warn",
    "no-constant-condition":"off",
    "react/jsx-no-duplicate-props":"warn",
    "react/no-direct-mutation-state":"warn",
    "react/no-deprecated":"off",
    "no-self-assign":"warn",
    "no-prototype-builtins":"off",
    "no-fallthrough":"off",
    "no-extra-boolean-cast":["warn", { "enforceForLogicalOperands": true }],
    "no-empty-pattern":"off",
    "no-inner-declarations":"warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "globals": {}
}
